.container {
  padding: 16px;
  flex: 1;

  .title {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 12px;
  }
}
