.container {
  padding: 16px;
  flex: 1;

  .title {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
  }

  .info {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 6px;
      height: 40px;
      border-bottom: 1px dotted #ccc;

      .text {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
      }

      .label {
        font-weight: 600;
      }
    }
  }
}
